
<footer class="site-footer">
    <div class="footer-container mx-auto width-s">
        <div class="footer-logo">
            <img class="img-logo" src="assets/images/logogold.png" alt="">
        </div>
        <div class="footer-links">
            <!-- <h6 class="clr-accent capitalize padding-b-1">pages</h6> -->
            <ul class="page-links flex-row gap-3">
                <div class="flex-col gap-var">
                    <li><a class="footer-link" href="/index.html">Home</a></li>
                    <li><a class="footer-link" href="/index.html/about-us">About</a></li>
                    <li><a class="footer-link" href="/index.html/contact">Contact</a></li>
                </div>
                <div class="flex-col gap-var">
                    <li><a class="footer-link" href="https://gg1982.github.io/vina-da-uva/grapes">Grapes</a></li>
                    <li><a class="footer-link" href="/equipment.html">Tools</a></li>
                </div>
            </ul>
        </div>
        <div class="footer-social">
            <!-- <h6 class="clr-accent capitalize padding-b-1">Social</h6> -->
            <ul class="social-links flex-row flex-wrap gap-2">
                <li>
                    <a href="http://">
                        <i class="social-link bi bi-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="http://">
                        <i class="social-link bi bi-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="http://">
                        <i class="social-link bi bi-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-copyright">
            <p class="capitalize">
                Copyright - © Vino Da Uva LTD {{ site.time | date: '%Y' }}. All rights reserved.
            </p>
            <p class="capitalize">
                Registered Office Contact No: 020 8087 3088.
            </p>
        </div>
        <div class="footer-vat">
            <p class="capitalize">
                Company Registration Number: 12858372.</p>
            <p class="capitalize">VAT Number: GB366328185.</p>
        </div>
    </div>
</footer>
