
<footer class="site-footer">
    <div class="footer-container mx-auto width-s">
        <!-- <div class="footer-logo">
            <img class="img-logo" src="assets/images/logo_transparent_background.png" alt="">
        </div> -->
        <div class="footer-links">
            <ul class="page-links flex-row gap-8">
                <div class="flex-col gap-var">
                    <li><a class="footer-link" href="{{ site.url }}/index">Home</a></li>
                    <li><a class="footer-link" href="{{ site.url }}/about">About</a></li>
                    <li><a class="footer-link" href="/index/#contact">Contact</a></li>
                </div>
                <div class="flex-col gap-var">
                    <li><a class="footer-link" href="{{ site.url }}/grapes">Grapes</a></li>
                    <li><a class="footer-link" href="{{ site.url }}/tools">Tools</a></li>
                    <li><a class="footer-link" href="{{ site.url }}/faq">FAQs</a></li>
                </div>
            </ul>
        </div>
        <div class="footer-social">
            <ul class="social-links flex-row flex-wrap gap-3">
                <a href="https://goo.gl/maps/ZTUA8gNy1oSdVT7y6">
                    <li class="form-address social-link">
                        <p class="capitalize">unit 6,</p>
                        <p class="capitalize">hannah nursery,</p>
                        <p class="capitalize">sewardstone road,</p>
                        <p class="capitalize">london,</p>
                        <p class="uppercase">e4 7rg</p>
                    </li>
                </a>
                <div class="flex-row gap-1">
                    <li>
                        <a href="https://www.facebook.com/uvaditalia/" target="_blank" rel="noopener noreferrer">
                            <i class="social-link bi bi-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/uvaditalia/?igshid=YmMyMTA2M2Y%3D" target="_blank" rel="noopener noreferrer">
                            <i class="social-link bi bi-instagram"></i>
                        </a>
                    </li>
                </div>

            </ul>
        </div>
        <div class="footer-copyright">
            <p class="capitalize">
                Copyright - © Vino Da Uva LTD {{ site.time | date: '%Y' }}. All rights reserved.
            </p>
            <p>Trading as: Uva d'Italia.</p>
            <p class="capitalize">
                Registered Office Contact No: 020 8087 3088.
            </p>
        </div>
        <div class="footer-vat">
            <p class="capitalize">
                Company Registration Number: 12858372.</p>
            <p class="capitalize">VAT Number: GB366328185.</p>
            <a class="footer-link capitalize" href="{{ site.url }}/privacy-cookie-policy">privacy & cookie policy</a>
            <a class="footer-link capitalize" href="{{ site.url }}/terms-conditions">terms & conditions</a>
            <a class="footer-link capitalize" href="{{ site.url }}/disclaimer">disclaimer</a>
        </div>

    </div>
</footer>
