<!-- <header class="header">
    <div class="logo capitalize">Vino da Uva</div>
        <button class="mobile-only nav-toggle" aria-label="toggle navigation">
            <span class="hamburger"></span>
        </button>    
        <nav class="nav">
            <ul class="nav-list font--1 capitalize">
                <li><a href="https://gg1982.github.io/vina-da-uva/" class="nav-link">Home</a></li>
                <li><a href="https://gg1982.github.io/vina-da-uva/#about-us" class="nav-link">About</a></li>
                <li><a href="https://gg1982.github.io/vina-da-uva/#contact" class="nav-link">Contact</a></li>
                <li><a href="https://gg1982.github.io/vina-da-uva/grapes" class="nav-link">Grapes</a></li>
                <li><a href="https://gg1982.github.io/vina-da-uva/equipment.html" class="nav-link">tools</a></li>
                <li><a href="https://gg1982.github.io/vina-da-uva/equipment.html" class="nav-link">tools</a></li>
            </ul>
        </nav>
</header> -->




<header class="header">
    <section class="nav__container">
        <nav class="nav">
            <div class="logo">
                <a href="https://gg1982.github.io/vina-da-uva/" class="nav__logo">
                    <img src="../../assets/images/logoblack.png" alt="">
                </a>
            </div>

            <a class="nav__toggle" aria-label="toggle navigation">
                <span class="hamburger"></span>
                <span class="hamburger"></span>
                <span class="hamburger"></span>
            </a>
        
            <ul class="nav__list font--1 capitalize">
                <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="#services" class="nav__link">About</a></li>
                <li class="nav__item"><a href="#work" class="nav__link">grapes</a></li>
                <li class="nav__item"><a href="#work" class="nav__link">tools</a></li>
                <li class="nav__item"><a href="#about" class="nav__link">contact</a></li>
            </ul>
        </nav>
    </section>
</header>