<header class="header flex-center gap-2">
    <div class="logo capitalize">{{ page.brand }}</div>
    <nav class="nav">
        <ul class="nav-list font--1">
            <li><a href="#" class="nav-link">Home</a></li>
            <li><a href="https://gg1982.github.io/vina-da-uva/#about-us" class="nav-link">About</a></li>
            <li><a href="https://gg1982.github.io/vina-da-uva/#contact" class="nav-link">Contact</a></li>
            <li><a href="https://gg1982.github.io/vina-da-uva/#grapes" class="nav-link">Grapes</a></li>
            <li><a href="https://gg1982.github.io/vina-da-uva/equipment.html" class="nav-link">Equipment</a></li>
            <li><a href="https://gg1982.github.io/vina-da-uva/equipment.html" class="nav-link">Equipment</a></li>

        </ul>
    </nav>
</header>