<header class="header">
    <section class="nav__container">
        <div class="logo">
            <a href="{{ site.url }}/" class="nav__logo">
                <img src="../assets/images/logo_transparent_background.png" alt="">
            </a>
        </div>

        <button class="mobile-nav-toggle" 
        aria-controls="nav__list" aria-expanded="false">
            <span class="sr-only">Menu</span>
            <span class="hamburger"></span>
        </button>


        <nav class="nav" aria-label="primary">        
            <ul class="nav__list font--1 capitalize" id="nav__list" data-visible="false">
                <li class="nav__item"><a href="{{ site.url }}/" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="{{ site.url }}/gallery" class="nav__link">gallery</a></li>
                <li class="nav__item"><a href="{{ site.url }}/about" class="nav__link">About</a></li>
                <li class="nav__item"><a href="{{ site.url }}/grapes" class="nav__link">grapes</a></li>
                <li class="nav__item"><a href="{{ site.url }}/tools" class="nav__link">tools</a></li>
                <li class="nav__item"><a href="{{ site.url }}/faq" class="nav__link">FAQs</a></li>
                <li class="nav__item"><a href="{{ site.url }}/#contact" class="nav__link">contact</a></li>
            </ul>
        </nav>
    </section>
</header>
