
// Blog Article

.blog__body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1.5em;
    width: var(--min-width-s);
    margin-inline: auto;
    padding-block: 4em;
}

.blog__body > * {
    grid-column: 1 / -1;
}


.blog__body h1 {
    font-size: var(--step-3);
    text-transform: capitalize;
}
.blog__body h2 {
    font-size: var(--step-2);
    text-transform: capitalize;
    padding-top: 2.5rem;
}

.blog__body h3 {
    font-size: var(--step-0);
    text-transform: capitalize;
}

.blog__body h4 {
    font-size: var(--step--1);
    text-transform: capitalize;
}

.blog__body p {
    font-size: var(--step--2);
}

.blog__body a {
    text-decoration: underline;
}
.blog__body li:not(:last-child) {
    margin-bottom: 10px
}

.blog__body .blog-btn {
    font-size: var(--step--1);
}


.blog__body p:first-of-type:first-letter {
    float: left;
    line-height: 1.1;
    margin-right: 0.5rem;
    margin-bottom: -6px;
    font-size: var(--step-4);
    font-weight: bold;
}

p:first-of-type::first-line {
    font-weight: bold;
}

.blog__body blockquote {
    margin: 0.5rem auto;
    color: #ff246b;
}

.blog__body ul,
.blog__body ol {
    margin-left: 2rem;
}

.blog__body img:first-of-type {
    max-height: 40rem;
}

.blog__body img:not(:first-of-type) {
    grid-column: 3 / 11;
}

@media (max-width: 40em) {
    .blog__body img:not(:first-of-type) {
        grid-column: 1 / -1;
    }
}

.blog__body q {
    width: 80%;
    text-align: center;
    margin: 2rem auto;
    line-height: 2;
    position: relative;
    font-style: italic;
}

.blog__body q span {
    display: block;
    font-size: var(--step--1);
}

.blog__body q::before {
    content: "";
    position: absolute;
    width: 0.1rem;
    top: -10%;
    height: 120%;
    left: -1rem;
    background-color: #ff246b;
}