.main {
    width: var(--gallery-width);
    --gallery-width: min(100% - 1rem, 70em);
}



.gallery {
    display: flex;
    flex-direction: column;
    row-gap: 8em;
}



.gallery-item {
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    column-gap: 2rem;
    
    position: relative;
}

.gallery-item > img {
    inline-size: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
}

.gallery-item > .image-desc {
    align-self: baseline;
    line-height: 1.7;

    position: sticky;
    top: 50px;
}

.image-desc > p {
    font-size: 1.3rem;
}

@media screen and (max-width: 750px) {          
    .main > h1 {
        font-size: var(--step-3);
    }
    .gallery {
        display: grid;
        grid-template-columns: 1fr;
    }
    .gallery-item {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1em;
    }

    .image-desc > p {
        font-size: var(--step--2);
        width: 95%;
        margin-inline: auto;
    }
}