$clr--footer: #020917;
$clr--dark: #171c20;
$clr--wine: #722F37;
$clr--link: #bb1122;
$clr--accent: #006194;
$clr--hero: #e9dcc9;
$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: 'Montserrat',
sans-serif;
$titleFont: 'Merriweather',
serif;

html {
  height: 100%;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  height: 100%;
}

:root {
  --min-width-l: min(100% - 1rem, 105em, 95vw);
  --min-width-m: min(100% - 1rem, 90em, 90vw);
  --min-width-s: min(100% - 1rem, 50em, 90vw);

  --min-width-pages: min(100% - 1rem, 65em, 90vw);
  --min-width-media: min(100%, 55rem);

  --min-width-calc: min(100% - 2rem, 55em);
  --min-width-input-calc: min(40rem, 100%);

  --padding-block-nav: min(8rem, 15vh);


  --border-radius: 0.25rem;

  --padding-block: min(15vh, 10rem);

  --section-gap: 5rem;

  --img-height: 15rem;

  --step--2: clamp(1rem, calc(1rem + 0.10vw), 1.14rem);
  --step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.20rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.50rem);
  --step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
}

:focus {
  outline: 3px solid $clr--accent;
  outline-offset: 4px;
}


img {
  border-radius: var(--border-radius);
}


.mobile-only {
  display: none;
}

// Dark Container
.dark-con {
  background-color: $clr--dark;
  color: $backgroundColor;
}

// Site Container
.site-con {
  background-color: $clr--hero;
}


a {
  color: $clr--accent;
}

// General Links
// a:visited,
// a:link {
//   color: #722F37;
//   text-decoration: none;
// }    

a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  color:$clr--link;
  text-decoration: none;
}

p > a:link {
  text-decoration: underline;
}


.title-font {
  font-family: $titleFont;
}

.clr-accent {
  color: $clr--accent
}


// Nav 
.header {
  padding: 1rem 0 1rem;
  background-color: $clr--hero;
}

.nav__container {
  display: flex;
  width: var(--min-width-pages);
  margin-inline: auto;
}

.nav__logo:focus > img {
  outline: 3px solid $clr--accent;
  outline-offset: 4px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  // position: fixed
}

.nav__link {
  text-decoration: none;
  color: #000;

  position: relative;
}

@media (hover: hover) and (min-width: 800px) {
  .nav__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    top: 35px;
    height: 2px;
    width: 100%;
    background-color: $clr--accent;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 150ms ease-out;
  }
  
  .nav__link:hover::after,
  .nav__link:focus::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.logo {
  max-width: Min(250px, 60%);
}

.mobile-nav-toggle {
  display: none;
}
.nav__list {
  display: flex;
  gap: 3rem;
}


@media screen and (max-width: 800px) {

  .header {
    padding: 1rem 0 2rem;
  }

  .nav__list {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 40%;

    padding: var(--padding-block-nav) 2rem;
    background-color: hsl(207, 16%, 11%); //$clr--dark

    flex-direction: column;

    transform: translateX(100%);
    transition: transform 350ms ease-out
  }

  @supports (backdrop-filter: blur(1rem)) {
    .nav__list {
      background-color: hsla(207, 16%, 11%, 0.9);
      backdrop-filter: blur(1rem);
    }
  }

  .nav__link {
    display: flex;
    color: #fff;
    width: 100%;
  }

  .mobile-nav-toggle {
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    z-index: 9999;
  }

  .hamburger {
    display: block;
    position: absolute;
    left: 0;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background: $clr--footer;
    width: 2rem;
    height: 3px;
    border-radius: 5px;
    transition: transform 350ms cubic-bezier(0, 2.4, 0.79, -0.35);
  }

  .hamburger::before,
  .hamburger::after {
    content: "";  
    position: absolute;
    left: 0;
    right: 0;
  }

  .hamburger::before {
    top: 6px;
  }

  .hamburger::after {
    bottom: 6px;
  }

  .active {
    --animate-menu: 2rem;
  }
  .overflow-hidden {
    overflow: hidden;
  }
  .active .nav__list {
    transform: translateX(0%);
  }
  .active .hamburger {
    transform: translateX(calc(-1 * var(--animate-menu)));
    background-color: transparent;
  }
  .active .hamburger::before {
    transform: translate(var(--animate-menu), -6px) rotate(45deg)  ;
    background-color: #ffffff;  
  }
  .active .hamburger::after {
    transform: translate(var(--animate-menu), 6px) rotate(-45deg);
    background-color: #ffffff;
  }
}


// Hero
.hero {
  padding-bottom: 2rem;
}
.hero--top {
  background-color: $clr--hero;
  padding: 4rem 0 15rem;
}
.hero--bottom {
  margin-top: -10rem;
}

.hero__intro {
  display: grid;

  grid-template-areas: 
  "title title body";

  column-gap: 2rem;
  row-gap: 2rem;
}

.hero__img {
  max-height: 30rem;
  object-fit: cover;
}

.hero--title {
  grid-area: title;
}

.hero__body {
  position: relative;
  max-width: 55ch;
  align-self: end;
  justify-self: end;

  grid-area: body;
}
.hero__body::before {
  content: "";
  position: absolute;
  margin-top: -10px;
  top: 0;
  left: 0;
  width: 120px;
  height: 2px;
  background-color: $clr--wine;
}
.hero__body::after {
  content: "";
  position: absolute;
  margin-bottom: -10px;
  bottom: 0;
  left: 0;
  width: 120px;
  height: 2px;
  background-color: $clr--wine;
}



.hero__btn {
  background-color: $bodyColor;
  color: $backgroundColor;
  padding: 1rem 2rem;
  width: Min(250px, 95%);
  text-decoration: none;
  border-radius: var(--border-radius);
  text-align: center;
  font-size: var(--step--1);
}

.hero__btn--inverse {
  background-color: $clr--wine;
  color: $backgroundColor;
  padding: 1rem 2rem;
  width: Min(250px, 95%);
  text-decoration: none;
  border-radius: var(--border-radius);
  text-align: center;
  font-size: var(--step--1);
}


@media screen and (max-width: 900px) {
  .hero {
    padding-bottom: 0;
  }
  .hero__intro {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 2rem;
  }
  .hero--top {
    padding: 0;
  }
  .hero--bottom {
    margin-top: 0;
  }
  .hero--title {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .hero__body {
    align-self: start;
  }

  .hero__img {
    display: none;
  }
}





// Media Scroller
.media-conatiner {
  padding-bottom: 2rem;
}
.media-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 92%;
  gap: var(--border-radius);

  overflow-x: auto;
  overscroll-behavior-inline: contain;

  width: var(--min-width-media);
  margin-inline: auto;
}

.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: 0.75rem;
  align-items: center;
  padding: 2rem;

  background-color: $clr--hero;
  border-radius: var(--border-radius);
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  // scroll-padding-inline: 1rem;
}

.snaps-inline>* {
  scroll-snap-align: start;
}

@media screen and (max-width: 700px) {
  .media-element {
    padding: 1rem;
    gap: 1rem;
  }
  .media-conatiner {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: var(--border-radius);
  }
}


.wine-about__img {
  background-image: url(../../assets/images/winegrape2.jpg);
  height: var(--img-height);
}

// Wine Calculator 
.calc-wine {
  width: var(--min-width-calc);
}
.input-container {
  width: var(--min-width-input-calc);
  margin-inline: auto;
  margin-bottom: 3rem;
}

.input-field {
  margin-bottom: 2rem;
  border-radius: 4px;
  border: 3px solid #171c20;
  box-shadow: .5rem .5rem 0 #171c20;
  background-color: $clr--hero;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.input-field > input {
  text-align: center;
  padding-block: 0.5rem;
}


.output-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(Min(200px, 100%), 1fr));
  
  color: #fff;
}
.output-field {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  border-radius: 4px;
  border: 3px solid #171c20;
  box-shadow: .5rem .5rem 0 #171c20;
  background-color: $clr--accent;
  padding: 1.125rem 0.25rem;
}

.output-field > * {
  font-size: var(--step--1);
}

.disclaimer {
  font-size: 15px;
}

// Products for grapes.html

.product__img {
  height: 200px;
  width: 400px;
  object-fit: cover;
}



// Secondary Pages
.page__intro {
  display: flex;
  flex-direction: column;
}


.page {
  display: flex;
  flex-direction: column;
  width: var(--min-width-pages);
  margin-inline: auto;
  gap: 2rem;
  padding-bottom: 2rem;
}
.page h1 {
  font-size: var(--step-4);
  text-transform: capitalize;
}
.page h2 {
  font-size: var(--step-2);
  text-transform: capitalize;
}

.page > p {
  font-size: var(--step--1);
}


.page__title {
  display: flex;

  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.page__img {
  width: 100px;
  height: auto;
  filter: drop-shadow(2px 2px 1px #000);
}

.grape__img {
  background-image: url(../../assets/images/vineyard4.jpg);
  height: var(--img-height);
}

.tools__img {
  background-image: url(../../assets/images/vineyard2.jpg);
  height: var(--img-height);
}

.thanks__img  {
  background-image: url(../../assets/images/vineyard1.jpg);
  height: var(--img-height);
}

.about__img {
  background-image: url(../../assets/images/vineyard3.jpg);
  height: var(--img-height);
}


@media screen and (max-width: 550px) {

  .page__intro {
    flex-direction: column-reverse;
  }
  .page__title {
    flex-direction: column;
    text-align: center;
    // align-items: flex-start;
  }

  .page__title > img {
    display: inline-block;
    text-align: center;
  }
}



// Form
.form-section {
  position: relative;
  width: 100%;
  margin: 0;
  padding-top: var(--padding-block);
  padding-bottom: var(--padding-block);
  filter: brightness(0.95);
}

.form-section::after {
  content: "";
  position: absolute;
  background-image: url(../../assets/images/vineyard4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  filter: blur(4px);
  z-index: -1;
}

.form-container {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: var(--border-radius);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(Min(300px, 100%), 1fr));
}

// .form-address {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   color: #ffffff;
//   // background-color: red;
//   height: 100%;
// }

.form-img {
  background-image: url(../../assets/images/vineyard4.jpg);
  min-height: 200px;
}
.form {
  padding: 1rem;
}


.form-input {
  width: 100%;
  margin-bottom: 40px;
}

textarea {
  resize: none;
}

.form-input,
.form-button {
  font-family: inherit;
  font-size: 14px;
  border: 0;
}

.form-button {
  text-transform: uppercase;
  background-color: #00619465;
  border-radius: var(--border-radius);
  font-weight: 700;
  width: 100%;
}

.form-button:focus,
.form-button:hover {
  background-color: #00619490;
}

.form-input:hover,
.form-input:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.form-input::placeholder {
  opacity: 0.6;
}

.form-input:focus::placeholder,
.form-input:hover::placeholder {
  color: $clr--accent;
  opacity: 0.85;
}


// Footer
.site-footer {
  background-color: $clr--footer;
  color: #ffffff;
  margin-top: auto;
}

.footer-container {
  padding-top: 2rem;
  padding-bottom: 2rem;

  display: grid;
  row-gap: 1.5rem;
  column-gap: 10px;
  grid-template-areas: 
    "nav nav . social social"
    "copyright copyright copyright copy-vat copy-vat";
}


.footer-links {
  grid-area: nav;
}

.footer-link {
  color: #ffffff;
}

.footer-social {
  grid-area: social;
}
.social-link {
  color: #ffffff;
}
.social-link:hover,
.social-link:focus {
  color: $clr--link;
}

.footer-copyright {
  grid-area: copyright;
}

.footer-vat {
  grid-area: copy-vat;
}

.footer-copyright p:first-child,
.footer-vat p:first-child {
  margin-bottom: var(--border-radius);
}

.footer-copyright > *,
.footer-vat > * {
  font-size: 12px;
}

.bi-facebook,
.bi-instagram
 {
  font-size: var(--step-1);
}


@media screen and (max-width: 550px) {

  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .mobile-only {
    display: block;
  }

  .media-element>img {
    height: 300px;
  } 
}
