---
layout: default
title: blog - Buy Italian Wine Grapes
permalink: /blog/
custom_css: blog
---
<main class="blog-posts flex-col width-m mx-auto gap-4 padding-t-4">
    <h1 class="mx-auto capitalize">Our Blog</h1>
    <section>
        <!-- <h2 class="capitalize">Latest article</h2> -->
        <ul class="recent-post">
            {% for post in site.posts limit: 1 %}
            <a class="recent-card" href="{{ post.url }}" style="--bg-img: url({{ site.baseurl }}/{{ post.image }})">
                <div class="card-content">
                    <h3 class="card-title font-2">{{ post.title }}</h3>
                    <p class="post-desc">{{ post.content | markdownify | strip_html | truncatewords: 50 }}</p>
                    <div class="card-date">{{ post.date | date_to_string }}</div>

                    <p class="post-category capitalize">{{ post.categories | array_to_sentence_string}}</p>
                </div>
            </a>
            {% endfor %}
        </ul>
    </section>
    
        <!-- <h2 class="capitalize">Older Articles</h2> -->

        <section class="cards-container mx-auto padding-block-3">
            <ul class="grid-auto-fit grid-items-center mx-auto row-gap-4 col-gap-2">
                {% for post in site.posts limit: 5 offset: 1 %}
                <li class="">
                    <a class="card" href="{{ post.url }}" style="--bg-img: url({{ site.baseurl }}/{{ post.image }})">
                    <div class="card-content">
                        <h3 class="card-title font-0">{{ post.title }}</h3>
                        <p class="post-desc">{{ post.content | markdownify | strip_html | truncatewords: 50 }}</p>
                        <div class="card-date">{{ post.date | date_to_string }}</div>
                        <p class="post-category capitalize">{{ post.categories | array_to_sentence_string}}</p>
                    </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>



</main>

