---
layout: default
title: Buy Italian Wine Grapes
slogan: Italian Grape Specialist
permalink: /
---


<section class="hero"> 

    <div class="hero--top">
        <div class="hero__intro width-m mx-auto">
            <div class="hero--title capitalize">
                <h1 class="title-font font-4 padding-b-2">Buy Italian Wine Grapes</h1>
                <a class="hero__btn capitalize" href="{{ site.url }}/grapes">Selection of grapes</a>
                <a class="hero__btn--inverse capitalize" href="/index/#contact">Make a pre-order *</a>
                <p class="disclaimer">* Note: The wine season will begin on the 1st September.</p>
            </div>

            <div class="hero__body flex-col row-gap-1">
                <h2 class="font-1 capitalize">Wine grapes for sale UK</h2>
                <p class="font--1">
                    Enjoy producing homemade wine from the finest grapes Italy has to offer. From six different grape varieties, you can be
                    sure of creating high quality wine.
                </p>
                <a class="hero__body__btn hero__btn capitalize" href="{{ site.url }}/gallery">photo gallery</a>
            </div>
        </div>
    </div>

    <div class="hero--bottom">
        <img class="hero__img width-m mx-auto" src="../assets/images/vineyard1.jpg" alt="">
    </div>

</section>


<section class="media-conatiner">
    <div class="media-scroller snaps-inline">
    
        {% for post in site.categories.grape reversed %}
        <div class="media-element">
            <img src="{{ post.image }}" alt="a picture of {{ post.title }}" loading="lazy">
            <h3 class="capitalize font-1">{{ post.title }}</h3>
            <p>
                {{ post.excerpt | strip_html | strip_newlines | truncatewords: 20 }}
            </p>
            <a class="capitalize" href="{{ post.url }}">{{ post.title }}: Read more</a>
        </div>
        {% endfor %}

    </div>
</section>


<section class="calc-wine mx-auto padding-block-3">

    <p class="capitalize font-0 padding-b-3 text-center">Use our calculator to see how much wine you can produce when purchasing our wine grapes</p>

    <div class="input-container  mx-auto">

        <div class="input-field font--1">
            <label class="capitalize" id="notify" for="boxes">Select Number of cases:</label>
            <input id="boxes" type="number" name="Enter Number" min="0" max="1000" value="10" onchange="updateInput(value)">
        </div>

    </div>

    <div class="output-container mx-auto gap-1">

        <div class="output-field">
            <label class="capitalize" for="liters">Liters Produced: *</label>
            <p class="liters">45L</p>
        </div>

        <div class="output-field">
            <label class="capitalize" for="bottles">Bottles Produced: *</label>
            <p class="bottles">60</p>
        </div>
        
        <div class="output-field">
            <label class="capitalize" for="weight">Delivery Weight: *</label>
            <p class="weight">85kg</p>
        </div>
    
    </div>

    <p class="disclaimer padding-t-3">* These figures are purely estimates. This calculator is for informational purposes only and should not be construed as a guarantee.</p>




</section>




<main>
    <section class="wine-about dark-con padding-block-3">
        <div class="wine-about__container width-s mx-auto">
            <h3 class="capitalize padding-b-1">
                Buy wine grapes for sale UK
            </h3>
            <p class="padding-b-3">
                All of our grapes have been handpicked and brought over from the heart of Italy. We take great care to
                deliver grapes that ensure your wine is of the highest-quality.
                <br><br>
                Please note that the wine grapes are
                seasonal until August {{ site.time | date: '%Y' }}. Deliveries will run from August to October. Pre-orders are available.
                <br><br>
                All prices are for one case that produces 4.5L of wine. One case contains of 8-9kg of fresh wine grape.
                (Minimum order quantity is 10 cases.)
            </p>
        </div>
        <div class="wine-about__img back"></div>
    </section>




    <section class="about-us dark-con">
        <div class="grid-altcol-2 grid-items-center width-m mx-auto row-gap-4 col-gap-2">
            <div class="grid-item mx-auto flex-col max-width-30 gap-1">
                <h4 class="capitalize font-0 text-center">How We Started our wine business</h4>
                <p class="grid-alt-col__body mx-auto">
                    Winemaking has been the family business for over three generations. We aim to share our passion for wine by supplying the U.K. with the highest selection of wine grapes from Italy.
                </p>
            </div>
            <img class="grid-item" src="../assets/images/vineyard2.jpg" alt="">
            <div class="grid-item mx-auto flex-col max-width-30 gap-1">
                <h4 class="capitalize font-0 text-center">putting wine grapes in your hands</h4>
                <p class="grid-alt-col__body mx-auto">
                    We want to help the U.K. winemaking community continue their passion for wine. So that everyone can fall in love with wine the same way we are.
                </p>
            </div>
            <img class="grid-item" src="../assets/images/vineyard3.jpg" alt="">
            <div class="grid-item mx-auto flex-col max-width-30 gap-1">
                <h4 class="capitalize font-0 text-center">Delivery or collection</h4>
                <p class="grid-alt-col__body mx-auto">
                    Based in London, we deliver wine grapes all over the U.K. Or, you can collect them straight from our warehouse.
                </p>
            </div>
            <img class="grid-item" src="../assets/images/wineglass2.jpg" alt="">
        </div>
    </section>
</main>

{% include form.html %}


<script src="../assets/js/calc.js"></script>

