<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-UK' }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="keywords" content="wine grapes, homemade wine, montepulciano grape, buy wine grapes uk, italian wine grapes, make wine uk">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="icon" type="image/svg+xml" href="../assets/images/Uva-favicon.svg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">


    {% if page.custom_css %}
        {% for stylesheet in page.custom_css %}
        <link rel="stylesheet" href="../assets/css/{{ stylesheet }}.css">
        {% endfor %}
    {% endif %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0WZYM3PZM4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-0WZYM3PZM4');
    </script>

</head>


<body>
    {% include header.html %}

    <article>
        <section class="blog__body">
            <h1>{{ page.title }}</h1>
            <img src="{{ page.image }}" alt="a picture of {{ page.title }}">
            {% if site.categories.grape %}

                <h2>History and Origin</h2>
                {{ content }}
                <a href="{{ site.url }}/#contact" class="blog-btn capitalize">Like This grape? Make an order</a>

                
            {% endif %}

            <!-- Get the next article from category -->
            {% assign cat = page.categories[0] %}
            {% assign cat_list = site.categories[cat] %}
            {% for post in site.categories.grape %}
                {% if post.url == page.url %}
                    {% assign pOffset = forloop.index0 | minus: 1 %}
                    {% assign nOffset = pOffset | plus: 2 %}
                    {% if forloop.first == false %}
                        {% assign next_post = cat_list[pOffset] %}
                    {% endif %}
                    {% if forloop.last == false %}
                        {% assign prev_post = cat_list[nOffset] %}
                    {% endif %}
                    {% break %}
                {% endif %}
            {% endfor %}


            <div class="flex-row flex-wrap flex-between gap-1 row-gap-1">
                {% if prev_post %}
                    <a href="{{ prev_post.url }}">&laquo; {{ prev_post.title }}</a>
                {% endif %}
                {% if next_post %}
                    <a href="{{ next_post.url }}">{{ next_post.title }} &raquo;</a>
                {% endif %}
            </div>
                
        </section>
    </article>
    
    {% include footer.html %}

    <script src="../assets/js/index.js"></script>
    <script defer src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"></script>
</body>

</html>